header{
    display:inline;
    position: relative;
    z-index: 2;
}
.header_container {
    display: flex;
    justify-content: space-between;
    min-height: 27px;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    margin-top: 25px;
    
}
.icon {
    font-size: 24px; 
    display: flex;
    align-items: flex-start;
    color: #62D0DF;
    margin-top: -3px;
}
nav{ 
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: calc(1/5*100%);
    align-items: center;
}
.nav_item{
    color: #22356F;
    padding: 0 4px 0px 4px;
}
.nav_item:hover{
    border-bottom: solid 1px;
    padding: 0 4px 8px 4px;
    transition: all 0.3s ease-in-out 0.1s;
}

.contact_us_wrapper{
    padding-top: 10px;
}
.contact_us{
    background: #62D0DF;
    border-radius: 50px;
    align-items: flex-end;
    color: white;
    font-size: 14px;
    padding: 14px 30px 15px 30px;
    line-height: 16.84px;
}
.contact_us:hover{
    background:#34c6d9 ;
    box-shadow: 0px 1px 5px 1px #969e9e;
    transition: all 0.3s ease-in-out 1ms;
}